<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>SnekTiltInstructions1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,29},{7,11}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{7,11}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>SnekTiltInstructions10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,52},{5,11}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{5,11}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>SnekTiltInstructions11.png</key>
            <dict>
                <key>frame</key>
                <string>{{15,50},{5,11}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{5,11}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>SnekTiltInstructions12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,45},{5,11}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{5,11}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>SnekTiltInstructions13.png</key>
            <dict>
                <key>frame</key>
                <string>{{15,43},{5,11}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{5,11}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>SnekTiltInstructions14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,38},{5,11}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{5,11}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>SnekTiltInstructions2.png</key>
            <dict>
                <key>frame</key>
                <string>{{15,20},{7,11}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{7,11}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>SnekTiltInstructions3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,20},{7,11}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{7,11}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>SnekTiltInstructions4.png</key>
            <dict>
                <key>frame</key>
                <string>{{15,11},{7,11}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{7,11}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>SnekTiltInstructions5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,11},{7,11}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{7,11}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>SnekTiltInstructions6.png</key>
            <dict>
                <key>frame</key>
                <string>{{15,2},{7,11}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{7,11}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>SnekTiltInstructions7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{7,11}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{7,11}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>SnekTiltInstructions8.png</key>
            <dict>
                <key>frame</key>
                <string>{{15,36},{5,11}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{5,11}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>SnekTiltInstructions9.png</key>
            <dict>
                <key>frame</key>
                <string>{{15,29},{5,11}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{5,11}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TiltInstructions.png</string>
            <key>size</key>
            <string>{32,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:78bb6b13abf69e0f707e7d0ddb086977$</string>
            <key>textureFileName</key>
            <string>TiltInstructions.png</string>
        </dict>
    </dict>
</plist>
